/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  width: 100%;
  height:768px;
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: cover;

}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.header__title {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 157px;
  line-height: 82.5%;
  color: #DB00FF;
  text-shadow: 4px 4px 0px #FF0070;

}

.header__text {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000028;
  background-color: #FF0070;
  width: 491px;
  height: min-content;
  justify-self: end;
}

